@model gp2_project.Models.orders

@{
	ViewData["Title"] = "Edit";
}
@{
	//Layout = "~/Views/Shared/CustomerMasterPage.cshtml";
}
<br />
<h2 style="text-align:center;">Edit</h2>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<input type="hidden" asp-for="Id" />

			<div class="form-group">
				<label>Order Quantity</label>
				<input asp-for="orderQty" class="form-control" />
				<span asp-validation-for="orderQty" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label>Order Weight</label>
				<input asp-for="orderWeight" class="form-control" />
				<span asp-validation-for="orderQty" class="text-danger"></span>
			</div>

			<input type="hidden" asp-for="orderQty" />
			<input type="hidden" asp-for="orderWeight" />
			
			<br />
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

